<div id="loading" class="spinner_border text-primary" style="display:none"></div>
<!-- Content Column -->
<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 class="h3 mb-0 text-gray-800">ลูกค้า</h1>
    <div class="">
        <form class="form-inline" id="frm_search">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input id="txt_search" type="text" class="form-control" placeholder="ค้นหา..">
                <button type="button" onclick="func_search()" class="btn btn-light">ค้นหา</button>
            </div>
        </form>
    </div>    
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
        <!-- Project Card  -->
        <div class="card shadow mb-4">
            <div class="card-header d-sm-flex align-items-center justify-content-between mb-2">
                <h6 class="m-0 font-weight-bold text-primary">ลูกค้า</h6>
                <a class=" d-sm-inline-block btn btn-sm btn btn-secondary shadow-sm" onclick="open_add()" data-toggle="modal" data-target="#modal_cc_customer"><i class="fas fa-plus-square fa-md text-white"></i></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>ชื่อ-สกุล</th>
                                <th>ประเภทลูกค้า</th>
                                <th>เบอร์โทร</th>
                                <th>ดู</th>
                            </tr>
                        </thead>
                        <tbody id="cc_customer_content"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:10px;">
	<ul class="pagination justify-content-center" id="pagination"></ul>
</div>
<div class="modal fade" id="modal_cc_customer" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="head_stage">
                <h4 class="modal-title">ลูกค้า</h4>
                <button type="button" onclick="clear_input()" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            
            <form id="frm_cc_customer" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-6">
                            <label class="cv_keep-left" for="c_name">ชื่อ <span style="color:red">*</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                </div>
                                <input type="hidden" name="frm_mode" id="frm_mode">
                                <input type="text" class="form-control" id="c_name" name="c_name" oninvalid="this.setCustomValidity('ชื่อ')"required oninput="this.setCustomValidity('')" placeholder="ชื่อ">
                            </div>
                        </div>
                        <div class="col-md-6 mb-6">
                            <label class="cv_keep-left" for="c_lname">สกุล</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                </div>
                                <input type="text" class="form-control" id="c_lname" name="c_lname" oninvalid="this.setCustomValidity('สกุล')"required oninput="this.setCustomValidity('')" placeholder="สกุล">
                            </div>
                        </div>
                        <div class="col-md-12 mb-12">
                            <label class="cv_keep-left" for="c_tel">เบอร์โทร <span style="color:red">*</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                </div>
                                <input type="text" maxlength="10" class="form-control" id="c_tel" name="c_tel" oninvalid="this.setCustomValidity('เบอร์โทร')"required oninput="this.setCustomValidity('')" placeholder="เบอร์โทร">
                            </div>
                        </div>
                        <div class="col-md-6 mb-6">
                            <label class="cv_keep-left" for="t_id">ประเภท <span style="color:red">*</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                </div>
                                <div id="hidden"></div>
                                <select class="form-control" id="t_id" name="t_id" required></select>                        
                            </div>
                        </div>
						<div class="col-md-6 mb-6">
                            <label class="cv_keep-left" for="pv_id">จังหวัด <span style="color:red">*</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                </div>
                                <div id="hidden"></div>
                                <select class="form-control" id="pv_id" name="pv_id" required></select>                        
                            </div>
                        </div>
                        <div class="col-md-12 mb-12">
                            <label class="cv_keep-left" for="c_address">ที่อยู่ <span style="color:red">*</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                </div>
                                <textarea class="form-control" rows="3" id="c_address" name="c_address" placeholder="ที่อยู่"></textarea>                        
                            </div>
                        </div>                       
                    </div>
                    <div id="frm"></div>
                    <div id="msg"></div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer col-sm-12" id="modal_cc_customer_foot" >	
                    <div style="width:100%;" id="mng"></div>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
	var data;
	var tmp_page=1;
	var tmp_filter='';
	// -------------------------- onload ---------------------------//
	var link_page=link+"/cc_customer.php";
	open_add();
	load_cc_customer('',tmp_page);
    load_cc_type();
	load_cc_province();
	// ------------------------- function -------------------------//
	$(document).on('keypress',function(e) {
        
	    if(e.which == 13) {
            
	        if($("#frm_mode").val()==2){
	    		update();
	    	}
            else{
	    		add();
	    	}
	    }
        
	});
    $("#txt_search").keyup(function(){
        $("#frm_mode").val(3);
    });
    
	function func_search(){
		load_cc_customer($("#txt_search").val(),tmp_page);
	}
	$("#frm_search" ).submit(function( event ) {
	  func_search();
	  event.preventDefault();
	});
	function open_add(){
        $("#frm_mode").val(1);
		clear_input();
		let txt=`<button id="btn_save" onclick="add()" type="button" class="btn btn-success" data-dismiss=""><i class="fas fa-save fa-1x"></i> บันทึก</button>`;
		$("#mng").html(txt);
	}
	function sh_data(c_id,c_name,c_lname,t_id,t_name,c_address,c_tel,pv_id,pv_name){
        $("#frm_mode").val(2);
		clear_input();
		let txt='';
		if(emp_id==1234567){
			txt=`<button  id="btn_del" data-dismiss="modal" data-toggle="modal" data-target="#del_modal" type="button" class="btn btn-danger" data-dismiss=""><i class="fas fa-trash-alt fa-1x"></i> ลบ</button>
			<button style="margin-left:30%" id="btn_del" onclick="cc_equipment(${c_id},'${c_name}','${c_lname}')" type="button" class="btn btn-default" data-dismiss=""><i class="fas fa-clipboard-list fa-1x"></i> รายการสัญญา</button>
			<button style="position: absolute;right: 0;margin-right:5%" id="btn_save" onclick="update()" type="button" class="btn btn-success" data-dismiss=""><i class="fas fa-save fa-1x"></i> บันทึก</button>`;
		}else{
			txt+=`<button style="margin-left:0%" id="btn_del" onclick="cc_equipment(${c_id},'${c_name}','${c_lname}')" type="button" class="btn btn-default" data-dismiss=""><i class="fas fa-clipboard-list fa-1x"></i> รายการสัญญา</button>`;
		}
		let hiden=`<input type="hidden" name="c_id" id="c_id" value="${c_id}">`;
		$("#hidden").html(hiden);
		$("#c_name").val(c_name);
        $("#c_lname").val(c_lname);
        $("#t_id").val(t_id);
		$("#pv_id").val(pv_id);

        $("#c_address").val(c_address);
        $("#c_tel").val(c_tel);

		$("#modal_cc_customer").modal('toggle');
		$("#mng").html(txt);
	}
	function cc_equipment(c_id,c_name,c_lname){
		let link_next=`?add_cc_contract=${c_id}&c_name=${c_name}&c_lname=${c_lname}`;
		window.location.href = link_next;
	}
	function clear_input(){
		$("#hidden").html('');
		$("#c_name").val('');
        $("#c_lname").val('');
        $("#t_id").val('');
		$("#pv_id").val('');
        $("#c_address").val('');
        $("#c_tel").val('');
       
		$("#frm_cc_customer").removeClass("was-validated");
        $("#msg").html('');
	}
	function add(){
		$("#msg").html("");
		let sta=0;
        if($("#c_name").val()==""){sta++;}
        if($("#c_lname").val()==""){$("#c_lname").val("-")}
        if($("#t_id").val()==""){sta++;}
        if($("#c_tel").val()==""){sta++;}
        if($("#c_address").val()==""){sta++;}
		if($("#pv_id").val()==""){sta++;}
		if(sta!=0){$("#frm_cc_customer").addClass("was-validated");return false;}
		else{
			let f_data=new FormData();
			let data = $("#frm_cc_customer").serializeArray();
			$.each(data,(key,val)=>{
				f_data.append(val.name,val.value);
			});
			f_data.append("cc_customer_add",true);
			event.preventDefault();
			$.ajax({
				type: "POST",
	 			url:link_page,
	 			data: f_data,
				contentType: false,
				processData: false,
			}).done((res)=> {
				let data=JSON.parse(res);
				if(data.status){
					$("#modal_cc_customer").modal('toggle');
					load_cc_customer('',tmp_page);
					clear_input();
				}else{
					$("#msg").html("<div style='color:#bd4646'>"+data.msg+"</div>");
				}	 				
	 		});
		}
	}	
	function update(){
			$("#msg").html("");
			let f_data=new FormData();
			let data = $("#frm_cc_customer").serializeArray();
			$.each(data,(key,val)=>{
				f_data.append(val.name,val.value);
			});
			f_data.append("cc_customer_update",true);
			event.preventDefault();

				$.ajax({
					type: "POST",
		 			url:link_page,
		 			data: f_data,
					contentType: false,
					processData: false,
				}).done((res)=> {
					let data=JSON.parse(res);
					if(data.status){
						$("#modal_cc_customer").modal('toggle');
						load_cc_customer(tmp_filter,tmp_page);
						clear_input();
					}else{
						$("#msg").html("<div style='color:#bd4646'>"+data.msg+"</div>");
					}
				});	
	}	
	function del(){
			$("#msg").html("");
			$.ajax({
				type:"POST",
				url:link_page,
				data:{
					"c_id":$("#c_id").val(),
					"cc_customer_del":true
				}
			}).done((res)=>{
				let data=JSON.parse(res);
				if(data.status){
					// $("#modal_cc_customer").modal('toggle');
					load_cc_customer(tmp_filter,tmp_page);
					clear_input();
				}else{
					$("#msg").html("<div style='color:#bd4646'>"+data.msg+"</div>");
				}

			});
	}
	function load_cc_customer(filter,page){
        
			let txt;
			tmp_filter=filter;
			$("#loading").show();
			$.ajax({
				type:"POST",
				url:link_page,
				data:{
					"load_cc_customer":true,
					"filter":filter,
					"page":page
				}
			}).done((res)=>{
				var data=JSON.parse(res);
				if(!data.msg){
					$.each(data,(i, item)=>{
						let css=`style="background-color:#e0e9e5;color:#000"`;
						let row=(page==1?parseInt(i)+1:(parseInt(i)+1)+(page-1)*10);
						let limit_word="";
						
						txt+=`<tr ${css}>
					        <td>${row}</td>
					        <td>${item.c_name} ${item.c_lname} </td>
                            <td>${item.t_name}</td>
                            <td>${item.c_tel}</td>
					        <td><button style="color:#fff" type="button" onclick="sh_data('${item.c_id }','${item.c_name}','${item.c_lname}','${item.t_id}','${item.t_name}','${item.c_address}','${item.c_tel}','${item.pv_id}','${item.pv_name}')" class="btn">
				        		<i  class="fas fa-book-open fa-2x"></i>
				        	</button>`;
					});
				}else{
					txt=`<tr><td colspan='3' align="center">no data</td></tr>`;
				}
				$("#loading").hide();
				$("#cc_customer_content").html(txt);
				set_pagination(filter,page);
			});
	}
    function load_cc_type(){
		let txt=`<option value="01" selected disabled>เลือกประเภทลูกค้า</option>`;
		$("#loading").show();
		$.ajax({
			type:"POST",
			url:link+"/cc_type.php",
			data:{
				"load_cc_type":true,
			}
		}).done((res)=>{
			var data=JSON.parse(res);
			if(!data.msg){
				$.each(data,(i, item)=>{
					txt+=`<option value="${item.t_id}">${item.t_name}</option>`;
				});
			}
			$("#loading").hide();
			$("#t_id").html(txt);
		});
	}
	function load_cc_province(){
		let txt=`<option value="01" selected disabled>เลือกจังหวัดลูกค้า</option>`;
		$("#loading").show();
		$.ajax({
			type:"POST",
			url:link+"/cc_province.php",
			data:{
				"load_cc_province":true,
			}
		}).done((res)=>{
			var data=JSON.parse(res);
			if(!data.msg){
				$.each(data,(i, item)=>{
					txt+=`<option value="${item.pv_id}">${item.pv_name}</option>`;
				});
			}
			$("#loading").hide();
			$("#pv_id").html(txt);
		});
	}
	function set_pagination(filter,page){
		let start_page;
		let end_page;
        
		$("#pagination").empty();
		$.ajax({
				type:"POST",
				url:link_page,
				data:{
					"set_pagination_cc_customer":true,
					"filter":filter
				}
			}).done((res)=>{
				var data=JSON.parse(res);
				tmp_page=(page==="pagi_first"?1:(page=="pagi_last"?data:page));
				if(tmp_page>5){
					start_page=tmp_page-4;
					end_page=tmp_page+5;
				}else{
					start_page=1;
					end_page=10;
				}
				$("#pagination").append(`<li class="page-item " id="pagi_first"><a class="page-link" onclick="load_cc_customer('${tmp_filter}',1)"><i class="fas fa-fast-backward"></i></a></li>`);
				for(let i=start_page;i<=data.page;i++){
					if(i<=end_page){
						$("#pagination").append(`<li class="page-item" id="pagi_${i}"><a class="page-link" onclick="load_cc_customer('${tmp_filter}',${i})">${i}</a></li>`);
						if(i==page){
							let active_page=`#pagi_${page}`;
							$(active_page).addClass("active");
						}
					}
				}
				$("#pagination").append(`<li class="page-item " id="pagi_last"><a class="page-link" onclick="load_cc_customer('${tmp_filter}',${data})"><i class="fas fa-fast-forward"></i></a></li>`);
			});	
	}
	
</script>

