<div id="loading" class="spinner_border text-primary" style="display:none"></div>
<!-- Content Column -->
<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 onclick="load_l_log('',1,'')" class="h3 mb-0 text-gray-800">บันทึกการทำงานที่ต้องตรวจ <i class="fas fa-sync-alt text-success"></i></h1>
    <div class="">
        <form class="form-inline" id="frm_search">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
				</div>
				<input id="date_search" type="date" class="form-control" placeholder="ค้นหาจากวันที่..">
				<input id="txt_search" type="text" class="form-control" placeholder="ค้นหา..">
				
                <button type="button" onclick="func_search()" class="btn btn-light">ค้นหา</button>
            </div>
        </form>
    </div>    
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-2" id="mode_data" aria-describedby="help_count">
    
</div>
<small id="help_count" class="form-text text-muted">
	** นับจากจำนวนต่อ 1 หน้า ซึ่งจะไม่รวมกับหน้าอื่นที่เหลืออยู่ ดังนั้นควรเปิดดูหน้าอื่นๆด้วยเพื่อความชัวร์ 
</small>

<div class="row">
    <div class="col-lg-12 mb-4">
        <!-- Project Card  -->
        <div class="card shadow mb-4">
            <div class="card-header d-sm-flex align-items-center justify-content-between mb-2">
                <h6 class="m-0 font-weight-bold text-primary">บันทึกการทำงานที่ต้องตรวจ</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
								<th>วันที่</th>
								<th>ศูนย์</th>
                                <th>ผู้ปฏิบัติงาน</th>
                                <th>งาน</th>
                                <th>ดู</th>
                            </tr>
                        </thead>
                        <tbody id="l_log_content"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:10px;">
	<ul class="pagination justify-content-center" id="pagination"></ul>
</div>
<div class="modal fade" id="modal_l_log" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="head_stage">
				<h4 class="modal-title">บันทึกการทำงานของผู้ปฏิบัติงาน</h4>
				<button type="button" onclick="cv_print('frm_l_log')" class="close" data-dismiss="modal"><i class="fas fa-print"></i> <p style="font-size: 10px;color:red">**ก่อนทำการพิมพ์ต้องแน่ใจว่าได้ทำการบันทึกข้อมูลก่อนแล้ว</p></button>
				
				<button type="button" onclick="clear_input()" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            
            <form id="frm_l_log" enctype="multipart/form-data">
                <div class="modal-body">
						<div class="col-md-12 mb-12" id="" >
								
								
									<center>บันทึกการทำงานของผู้ปฏิบัติงาน</center>
								
						</div>
						<div class="row" id="l_user_detail">
							
						</div>
                    <div class="row">
							<input type="hidden" id="hidden">
                        <div class="col-md-12 mb-12" id="img_pre" >
                                <label class="cv_keep-left" for="lf_files"></label>
                                <div class="input-group">
                                    <div align="center">
                                        <center><img id="sh_img" class="rounded" width="50%">
                                    </div>
                                </div>
                        </div>
                        
                    </div>
                    
                    
                    <div id="frm"></div>
                    <div id="msg"></div>
                </div>
            
                
			</form>
			<!-- Modal footer -->
				<div class="modal-footer col-sm-12" id="modal_l_log_foot">	
                    <div id="mng"></div>
                </div>
        </div>

    </div>
</div>

<script type="text/javascript">
	var data;
	var tmp_page=1;
	var tmp_filter='';
    let stg_chk=0;
	var tmp_mode_data;
	var data_load;
	// -------------------------- onload ---------------------------//
	var link_page=link+"/l_log.php";
	if($_rec.filter=="undefined" ){
		load_l_log('',tmp_page,'');
		// console.log($_rec.filter);
	}else{
		load_l_log($_rec.filter,tmp_page,'');
		// console.log("nulllll");
	}
	
	load_l_log_title();
	// ------------------------- function -------------------------//
	$('#lf_files').imageUploadResizer({
		max_width: 800, // Defaults 1000
		quality: 0.8, // Defaults 1
		do_not_resize: ['gif', 'svg'], // Defaults []
	});
	$('#date_search').change(function () {
		$('#txt_search').val($('#date_search').val());
		
    });
	$('#lf_files').change(function () {
		$("#loading").show();
		img_preview(this,'sh_img');
		$("#loading").hide();
    });
    $('#l_title_missing').change(function () {
        if(stg_chk%2==1){
            $("#l_title_1").show();
            $("#l_title_2").hide();
        }else{
            // console.log("check");
            $("#l_title_1").hide();
            $("#l_title_2").show();
        }
        stg_chk++;
    });

	$(document).on('keypress',function(e) {
        
	    if(e.which == 13) {
            
	        if($("#frm_mode").val()==2){
	    		update();
	    	}
            else{
	    		add();
	    	}
	    }
        
	});
    $("#txt_search").keyup(function(){
        $("#frm_mode").val(3);
    });
    
	function func_search(){
		load_l_log($("#txt_search").val(),tmp_page,'');
	}
	$("#frm_search" ).submit(function( event ) {
	  func_search();
	  event.preventDefault();
	});
	
	function sh_data(index){
		// l_id,l_title,l_detail,lf_file,la_date,la_comment,u_fullname,p_name,d_name,l_date,p_des
		// console.log(data_load[index]);
		let l_id=data_load[index].l_id,l_title=data_load[index].l_title,l_detail=data_load[index].l_detail,lf_file=data_load[index].lf_file,la_date=data_load[index].la_date,la_comment=data_load[index].la_comment,u_fullname=data_load[index].u_fullname,p_name=data_load[index].p_name,d_name=data_load[index].d_name,l_date=data_load[index].l_date,p_des=data_load[index].p_des;
        $("#frm_mode").val(2);
		// clear_input();
		let txt='';

			txt=`
			    <button id="btn_save" onclick="update()" type="button" class="btn btn-success" data-dismiss=""><i class="fas fa-save fa-1x"></i> ยืนยัน</button>`;
		let hiden=`	<input type="hidden" name="l_id" id="l_id" value="${l_id}">
					`;

		let la_comment_out=la_comment;
		let img='';
		for(i=4;i<lf_file.length;i++){
			img+=lf_file[i];
		}
		
		let l_user_detail=`
						<div class="col-md-12 ">
							<label class="cv_keep-left" for="l_title">เรื่อง </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="far fa-newspaper"></i></span>
                                </div>
								<input type="text" readonly class="form-control-plaintext" class="form-control" value="${l_title}">

	                        </div>
						</div>
						<div class="col-md-8 ">
							<label class="cv_keep-left" for="l_title">แผนก </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fas fa-place-of-worship"></i></span>
                                </div>
								<input type="text" readonly class="form-control-plaintext" class="form-control" value="${d_name}">

	                        </div>
						</div>
						<div class="col-md-4 ">
							<label class="cv_keep-left" for="l_title">บันทึกวันที่ </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="far fa-calendar-minus"></i></span>
                                </div>
								<input type="text" readonly class="form-control-plaintext" class="form-control" value="${chk_date(la_date)}">

	                        </div>
						</div>
						
						<div class="col-md-12 ">
							<label class="cv_keep-left" for="l_title">ตำแหน่ง </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                </div>
								<input type="text" readonly class="form-control-plaintext" class="form-control" value="${p_name}">

	                        </div>
						</div>
						<div class="col-md-12 ">
							<label class="cv_keep-left" for="l_title">รายละเอียดตำแหน่ง </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                </div>
								<input type="text" readonly class="form-control-plaintext" class="form-control" value="${p_des}">

	                        </div>
						</div>
						
						<div class="col-md-12 ">
							<label class="cv_keep-left" for="l_title">ชื่อ </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fas fa-tags"></i></span>
                                </div>
								<input type="text" readonly class="form-control-plaintext" class="form-control" value="${u_fullname}">

	                        </div>
						</div>
						
						<div class="col-md-12 " >
							<label class="cv_keep-left" for="l_title">รายละเอียด </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="far fa-sticky-note"></i></span>
                                </div>
								<textarea readonly class="form-control-plaintext" class="form-control" rows="5">${l_detail.replace(/\t/g,'\n')}</textarea>

	                        </div>
						</div>
						<div class="col-md-12 mb-12" style="margin-bottom:10px">
                            <label class="cv_keep-left" for="la_comment">คอมเมนต์ถึงผู้ปฏิบัติงาน</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="far fa-comment-alt"></i></span>
                                </div>
                                
                                <textarea class="form-control" rows="5" id="la_comment" name="la_comment">${(la_comment_out=="null"?" ":la_comment_out)}</textarea>                        
                            </div>
                        </div>
						
		`;
		$("#l_user_detail").html(l_user_detail);					
		$("#hidden").html(hiden);
		// $("#l_title_select").val(l_title );
		// $("#l_detail").val(l_detail);

		$("#sh_img").attr('src',img);
		
		// $("#la_date").val(la_date);
        // $("#la_comment").val((la_comment_out=="null"?" ":la_comment_out));
        // $("#u_fullname").val(u_fullname);
		
		$("#modal_l_log").modal('toggle');
		$("#mng").html(txt);
	}
	function clear_input(){
		location.reload();
		$("#hidden").html('');
		$("#l_title_select").val('');
		$("#l_title_type").val('');
		$("#l_title_missing").val('');
        $("#l_detail").val('');
		$("#sh_img").attr('src','');
		$("#frm_l_log").removeClass("was-validated");
        $("#msg").html('');
	}
	
	function update(){
			$("#msg").html("");
			let f_data=new FormData();
			let data = $("#frm_l_log").serializeArray();

			f_data.append("l_log_approve_update",true);
			f_data.append("la_comment",$("#la_comment").val());
            f_data.append("l_id",$("#l_id").val());

			event.preventDefault();
				$.ajax({
					type: "POST",
		 			url:link_page,
		 			data: f_data,
					contentType: false,
					processData: false,
				}).done((res)=> {
					let data=JSON.parse(res);
					if(data.status){
						$("#modal_l_log").modal('toggle');
						load_l_log(tmp_filter,tmp_page,'');
						load_l_log_title();
						clear_input();
					}else{
						$("#msg").html("<div style='color:#bd4646'>"+data.msg+"</div>");
					}
				});	
	}	
	function load_l_log_title(){
		let txt=`<option value="0" selected disabled>เลือกหัวข้องาน</option>`;
		$("#loading").show();
		$.ajax({
			type:"POST",
			url:link+"/l_log.php",
			data:{
				"load_l_log_title":true,
			}
		}).done((res)=>{
			var data=JSON.parse(res);
			if(!data.msg){
				$.each(data,(i, item)=>{
					txt+=`<option value="${item.l_title}">${item.l_title}</option>`;
				});
			}
			$("#loading").hide();
			$("#l_title_select").html(txt);
		});
	}function load_l_log(filter,page,mode_data){
			tmp_mode_data=mode_data;
			let ele_mode_data;
			let txt;
			tmp_filter=filter;
			$("#loading").show();
			$.ajax({
				type:"POST",
				url:link_page,
				data:{
					"load_l_log_employee":true,
					"filter":filter,
					"mode_data":mode_data,
					"page":page
				}
			}).done((res)=>{
				let NotApprove=0;
				let Approved=0;
				data_load=JSON.parse(res);
				if(!data_load.msg){
					$.each(data_load,(i, item)=>{
                        let css='';
                        if(item.u_id==null){
                            css=`style="background-color:#f57a72;color:#000"`;
							NotApprove++;
                        }else{
                            css=`style="background-color:#e0e9e5;color:#000"`;
							Approved++;
                        }
						
						let row=(page==1?parseInt(i)+1:(parseInt(i)+1)+(page-1)*10);
						let limit_word="";
						let detail=item.l_detail.replace(/\r\n/g,'\t');
						// console.log(detail);
						txt+=`<tr ${css}>
					        <td>${row}</td>
							<td>${item.l_date }</td>
							<td>${item.d_name }</td>
                            <td>${item.u_fullname }</td>
					        <td>${item.l_title }</td>

					        <td><button style="color:#fff" type="button" onclick="sh_data(${i})" class="btn">
				        		<i  class="fas fa-book-open fa-2x"></i>
				        	</button>`;
					});
				}else{
					txt=`<tr><td colspan='3' align="center">no data</td></tr>`;
				}

				let mode_data=`
                      <div class="col-xl-6 col-md-6 mb-4" onclick="load_l_log('',${tmp_page},0)">
                          <div class="card border-left-success shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">ตรวจแล้ว
                                          </div>
                                          <div class="row no-gutters align-items-center">
                                              <div class="col-auto">
                                                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">${Approved} <i class="fas fa-users"></i> </div>
                                              </div>
                                              
                                          </div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
					  <div class="col-xl-6 col-md-6 mb-4" onclick="load_l_log('',${tmp_page},1)">
                          <div class="card border-left-danger shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">ยังไม่ตรวจ
                                          </div>
                                          <div class="row no-gutters align-items-center">
                                              <div class="col-auto">
                                                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">${NotApprove} <i class="fas fa-users"></i> </div>
                                              </div>
                                              
                                          </div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  `;

				$("#loading").hide();
				$("#mode_data").html(mode_data);
				$("#l_log_content").html(txt);
				set_pagination(filter,page,tmp_mode_data);
				console.log(tmp_mode_data);
			});
	}
	
    
	function set_pagination(filter,page,mode_data){
		let start_page;
		let end_page;
        
		$("#pagination").empty();
		$.ajax({
				type:"POST",
				url:link_page,
				data:{
					"set_pagination_l_log_employee":true,
					"filter":filter,
					"mode_data":mode_data
				}
			}).done((res)=>{
				var data=JSON.parse(res);
				tmp_page=(page==="pagi_first"?1:(page=="pagi_last"?data:page));
				if(tmp_page>5){
					start_page=tmp_page-4;
					end_page=tmp_page+5;
				}else{
					start_page=1;
					end_page=10;
				}
				$("#pagination").append(`<li class="page-item " id="pagi_first"><a class="page-link" onclick="load_l_log('${tmp_filter}',1,'${mode_data}')"><i class="fas fa-fast-backward"></i></a></li>`);
				for(let i=start_page;i<=data.page;i++){
					if(i<=end_page){
						$("#pagination").append(`<li class="page-item" id="pagi_${i}"><a class="page-link" onclick="load_l_log('${tmp_filter}',${i},'${mode_data}')">${i}</a></li>`);
						if(i==page){
							let active_page=`#pagi_${page}`;
							$(active_page).addClass("active");
						}
					}
				}
				$("#pagination").append(`<li class="page-item " id="pagi_last"><a class="page-link" onclick="load_l_log('${tmp_filter}',${data.page},'${mode_data}')"><i class="fas fa-fast-forward"></i></a></li>`);
			});	
	}
	
</script>

