    <ul class="navbar-nav  sidebar sidebar-light accordion" id="accordionSidebar" style="background-color: #FFD523;transition: 0.5s;color:#2C2E43">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="?">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-book"></i>
        </div>
        <div class="sidebar-brand-text mx-1" id="header"></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <a href="?customer_categories"><i class="fas "></i> </a>

      <!-- Heading -->
      <div class="sidebar-heading">
        ข้อมูลในระบบ
      </div>
      <li class="nav-item">
        <a class="nav-link" href="?cc_product">
          <i class="fab fa-product-hunt"></i>
          <span>สินค้า</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?l_users">
          <i class="fas fa-user-tie"></i>
          <span>ผู้ใช้</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?l_log">
          <i class="fas fa-user-alt"></i>
          <span>My-บันทึกการทำงาน</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        ข้อมูลสำหรับใช้งานในระบบ
      </div>
      <!-- Nav Item  -->
      <li class="nav-item">
        <a class="nav-link" href="?l_department">
          <i class="fas fa-layer-group"></i>
          <span>แผนก</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?l_position">
          <i class="fas fa-user-friends"></i>
          <span>ตำแหน่ง</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?l_province">
          <i class="fas fa-vihara"></i>
          <span>จังหวัด</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?get_log">
          <i class="fas fa-vihara"></i>
          <span>log</span></a>
      </li>
      
      

      
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
<script>
  $("#header").text(title());
</script>

    